{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2018
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > patient : details sur une vaccination pour l'historique
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 #}
 <td></td>
 <td colspan="4" class="py-4">

     <table class="table table-sm mb-0 table-hover ">
       <thead class="thead-light">
         <tr>
           <th>Vaccin</th>
           <th>Lot</th>
           <th>Site d'injection</th>
           <th>Notes</th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <td>{{ page.dataVac.medGeCsDivVaccinationVaccin.value }}</td>
           <td>{{ page.dataVac.medGeCsDivVaccinationLot.value }}</td>
           <td>{{ page.dataVac.medGeCsDivVaccinationSiteInj.value }}</td>
           <td>{{ page.dataVac.medGeCsDivVaccinationNotes.value|nl2br }}</td>
         </tr>
       </tbody>
     </table>

 </td>
